body {
	padding-top: 2.25rem;
	box-sizing:border-box;
}
header {
	width: 100%;
	height: 1.25rem;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
}
header a {
	display: block;
	width: 0.9062rem;
	height: 0.7812rem;
}
header a img {
	width: 0.9062rem;
	height: 0.7812rem; 
}
header form {
	width: 7.8125rem;
	height: 0.7812rem;
	font-size: 0.3125rem;
}
header form input {
	width: 7.8125rem;
	height: 0.7812rem;
	border: none;
	font-size: 0.3125rem;
	color: #666666;
	background: #f7f7f7;
	text-indent: 0.3125rem;
	outline: none;
	border-radius: 0.0781rem;
}
header .close {
	width: 1.25rem;
	height: 0.7812rem;
	font-size: 0.3438rem;
	text-align: center;
	color:#666666;
	line-height: 0.7812rem;
	
}
.nav {
	position: fixed;
	top: 1.25rem;
	left: 0;
	display: flex;
	width: 100%;
	height: 1.0156rem;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	box-sizing: border-box;
	padding: 0 0.3125rem;
	justify-content: space-between;
	background: white;
}
.nav a {
	display: flex;
	font-size: 0.3125rem;
	height: 0.9062rem;
	line-height: 0.9062rem;
	padding: 0 0.1562rem;
	border-bottom: 2px solid white;
	align-items: center;
	color: #999999;
	background: white;
}
.nav a.active {
	border-bottom: 2px solid #ff2150;
	color: #ff2150;
}
.nav a img {
	width: 0.1875rem;
	height: 0.2656rem;
}
.ul1 {
	width: 100%;
	padding-top: 0.3594rem;
	background: #f7f7f7;

}
.ul1 li {
	display: flex;
	align-items: center;
	width: 9.3594rem;
	height: 2.9688rem;
	margin: 0 auto 0.3594rem;
	background: white;
}
.ul1 li img {
	width: 3.0781rem;
	height: 2.9688rem;
}
.ul1 li p a {
	display: block;
	line-height: 0.5469rem;
	width: 100%;
	color: #858585;
	font-size: 0.3125rem;
}
.ul1 li .info {
	width: 5.8594rem;
	height: 2.1875rem;
	padding-left: 0.3125rem;
	font-size: 0.4688rem;
	color: #ff2150;
}
.ul1 li .runcase {
	width: 1.0938rem;
	font-size: 0.3906rem;
	height: 0.4688rem;
	line-height: 0.4688rem;
	text-align: center;
	border-radius: 0.0625rem;
	border: 1px solid #ff2150;
}
.ul1 li .smail {
	font-size: 0.2344rem;
}
.ul1 li s {
	color: #a1a1a1;
	font-size: 0.2656rem;
}
.ul1 li:nth-child(2n-1){
	margin-right: 0.3438rem;
}
.other_power {
	width: 0.9531rem;
	position: fixed;
	height: 2.5rem;
	bottom: 0;
	right: 0.2344rem;
}
.other_power img{
	width: 0.9531rem;
	margin-bottom: 0.2344rem;
}
.select {
	width: 1.5625rem;
	height: 0.9375rem;
	position: absolute;
	top: 0.9375rem;
	left: 50%;
	margin-left: -0.77rem;
	border:1px solid #eee;
	background: white;
	border-radius: 0.1562rem;
	display: none;
}
.select div {
	height: 0.4688rem;
	line-height: 0.4688rem;
	text-align:center;
	font-size: 0.3125rem;
	color:#adadad;
};
.select .prev {
	border-bottom: 1px solid red;
}
/* loading */
.loading{
	height:0.9375rem;
	line-height:0.9375rem;
	text-align: center;
	background: #f7f7f7;
	color:#ccc;
}
.loading img{
	display: inline-block;
	height:0.625rem;
	-webkit-animation: loading 1s linear infinite ;
	animation: loading 1s ease linear infinite ;
}
@keyframes loading{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg);}
}
.loading *{
	vertical-align: middle;
}